.window-titlebar {
    height: 26px;
    background-color: #34515e;

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;

    -webkit-user-select: none;
}

.window-title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    
    /* Allow window resize */
    margin-top: 4px;
    margin-left: 4px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-size: 13px;
    color: white;
    opacity: 0.8;

    -webkit-app-region: drag;
}

.titlebar-button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    
    width: 45px;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s;

    -webkit-app-region: no-drag;
}

.titlebar-button>svg {
    display: block;
    opacity: 0.8;
}

.titlebar-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#window-close-button:hover {
    background-color: rgba(255, 0, 0, 0.6);
}