<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/arisefs/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <!-- Thanks GitHub :) -->
            <add key="Username" value="PublicToken" />
            <add key="ClearTextPassword" value="&#x67;&#x68;&#x70;&#x5F;&#x33;&#x33;&#x36;&#x66;&#x37;&#x61;&#x70;&#x6E;&#x39;&#x37;&#x72;&#x44;&#x66;&#x35;&#x77;&#x74;&#x6B;&#x30;&#x74;&#x39;&#x59;&#x68;&#x43;&#x74;&#x79;&#x78;&#x54;&#x69;&#x54;&#x64;&#x32;&#x45;&#x7A;&#x44;&#x56;&#x6C;" />
        </github>
    </packageSourceCredentials>
</configuration>
