<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="AriseFSFeed" value="https://pkgs.dev.azure.com/AriseFS/GitHub-CI/_packaging/AriseFSFeed/nuget/v3/index.json" />
    </packageSources>
</configuration>
