.main-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--main-act-header-height);
    width: var(--main-act-header-height);
    background-color: rgba(202, 229, 242, 0);
    transition: opacity 0.3s, width 0.3s, background-color 0.15s;
}

.main-header-button>img {
    width: 32px;
    opacity: 0.67;
}

.main-header-button:hover {
    background-color: rgba(230, 247, 255, 0.15);
}

.main-header-button:hover:active {
    background-color: rgba(96, 125, 139, 0.2);
}