.share-profile-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "list";
    grid-gap: 4px;
    margin-top: 4px;
    overflow: auto;
}

.profile-share-connection-item {
    height: 48px;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 0.2s, border-left-width 0.2s;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    font-size: 18px;
    padding-left: 4px;
}

.profile-share-connection-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border-left-width: 4px;
}

.profile-share-connection-item:hover:active {
    background-color: rgba(0, 0, 0, 0.14);
    border-left-width: 8px;
}