.page-title-bar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.67);
}

.page-title-bar-title {
    flex: 1 1 auto;
    font-weight: 300;
    font-size: 24px;
}

.page-title-bar-item {
    height: 32px;
}

.page-title-bar-title-mini {
    font-size: 18px;
}

.page-title-bar-item-mini {
    height: 24px;
    width: 24px;
}

.page-title-bar-button {
    margin: 1px 0px 0px 8px;
}