.progressbar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "leftlabel rightlabel" "bar bar";
    font-size: 13px;
}

.progressbar-label-left {
    grid-area: leftlabel;
    margin-left: 2px;
    text-align: left;
}

.progressbar-label-right {
    grid-area: rightlabel;
    margin-right: 2px;
    text-align: right;
}

.progressbar-bar {
    display: block;
    grid-area: bar;
    margin-top: 2px;
    overflow: hidden;
    background-color: #FFFFFF;
    height: 4px;
}

.progressbar-bar-progress {
    background-color: #2196F3;
    height: 4px;
}

.progressbar-bar-indeterminate {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right,#2196F3,#2196F3);
    background-color: #FFFFFF;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    animation: scroll 1.2s ease-in-out infinite;
  }
  
  @keyframes scroll {
    50%{background-size:80%}
    100%{background-position:125% 0;}
  }